<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLLocationManager_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2521DF91D1A255D00919F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2521E121D1A255D00919F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2521E1D1D1A255D00919F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
